<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.student.test.TC02_GETUsers_New</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getusername</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getMarks</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getSessionId</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getStateValue</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
