<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a9f61">  <td>20/08/27 01:09:01</td>   <td>0</td> <td title="&gt;&gt;TC02_Server_Setup.setupu()[pri:0, instance:com.student.test.TC02_GETUsers_New@1ddf84b8]">&gt;&gt;setupu</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1449263511</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>20/08/27 01:09:02</td>   <td>578</td> <td>&nbsp;</td><td title="&gt;&gt;TC02_Stubbing_Test.getMapping()[pri:0, instance:com.student.test.TC02_GETUsers_New@1ddf84b8]">&gt;&gt;getMapping</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1449263511</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>20/08/27 01:09:02</td>   <td>656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02_GETUsers_New.getusername()[pri:0, instance:com.student.test.TC02_GETUsers_New@1ddf84b8]">getusername</td> 
  <td>main@1449263511</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>20/08/27 01:09:03</td>   <td>2051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02_GETUsers_New.getSessionId()[pri:0, instance:com.student.test.TC02_GETUsers_New@1ddf84b8]">getSessionId</td> 
  <td>main@1449263511</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>20/08/27 01:09:03</td>   <td>2084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02_GETUsers_New.getMarks()[pri:0, instance:com.student.test.TC02_GETUsers_New@1ddf84b8]">getMarks</td> 
  <td>main@1449263511</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>20/08/27 01:09:03</td>   <td>2123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02_GETUsers_New.getStateValue()[pri:0, instance:com.student.test.TC02_GETUsers_New@1ddf84b8]">getStateValue</td> 
  <td>main@1449263511</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>20/08/27 01:09:03</td>   <td>2174</td> <td title="&lt;&lt;TC02_Server_Setup.stopserver()[pri:0, instance:com.student.test.TC02_GETUsers_New@1ddf84b8]">&lt;&lt;stopserver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1449263511</td>   <td></td> </tr>
</table>
